@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --background-body: #E1D4C9;
    --text-accent: #B0907A;
    --text-light: #E1D4C9;
    --text-dark: #403F3D;
    --border-dark: #665F55;
    --border-light: #C1B6AD;
    --background-container: #665F55;
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    max-width: 1440px;
    background-color: var(--background-body);
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

header{
    height: 60px;
    display: flex;
}

nav{
    width: 1188px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    align-self: center;
    margin-right: 40px;
    text-decoration: none;
    color: #403F3D;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    height: 24px;
}

.underline{
    margin-top: 2px;
    width: 0%;
    height: 2px;
    margin: 0  auto;
    border-radius: 2px;
    background-color: #403F3D;
    transition: 1s ease;
    opacity: 0;
}

.menu-item:hover .underline{
    width: 100%;
    opacity: 1;
}

.menu-special-item{
    display: grid;
    grid-template-columns: 36px 36px;
    height: 24px;
    margin-right: 0px;
}

.menu-special-item svg{
    justify-self: end;
}

.menu-special-item .underline{
    grid-column-start: 1;
    grid-column-end: 3;

}

.enjoy-coffee{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    padding: 100px;
    background-image: url(./src/53de184b52e70f8c6142237a41f29303.jpg);
    border-radius: 40px;
    height: auto;
    margin-bottom: 100px;
}

.offer{
    display: flex;
    flex-direction: column;
    width: 530px;
    gap: 40px;
}

#enjoy{
    color: var(--text-accent);
    font-style: italic;
}

#enjoy-offer{
    color: var(--text-light);
    font-family: Inter;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}

#offer-description{
    align-self: stretch;
    color: var(--text-light);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
}

#menu-button{
    display: flex;
    width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--background-body);
    color: var(--text-dark);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    transition: 1s ease;
    text-decoration: none;
}

#menu-button svg{
    opacity: 0;
    width: 0px;
    transition: 1s ease;
}

#menu-button:hover {
    padding-left: 60px;
    padding-right: 60px;
}

#menu-button:hover svg{
    opacity: 1;
    width: 20px;
}

#favorite-coffee{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

#favorite-description{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
}

#slider{
    display: grid;
    grid-template-columns: 104px auto 104px;
    grid-template-rows: auto auto;
    grid-template-areas:
    "left-arrow product-slider right-arrow"
    "control control control";
}

#left-arrow{
    grid-area: left-arrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#product-slider{
    grid-area: product-slider;
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.product-coffee{
    width: 480px;
    height: 480px;
}

.description-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    max-width: 480px;
    height: 140px;
}

.product-name{
    color: var(--text-dark);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.product-description{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.product-price{
    color: var(--text-dark);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

#right-arrow{
    grid-area: right-arrow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow{
    transition: 1s ease;
}

.arrow:hover > rect {
    fill: var(--background-container);
}

.arrow:hover > path {
    stroke: var(--text-light);
}

#controls{
    display: flex;
    gap: 12px;
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: 3;
}

.control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-dark);
}

.nonactive{
    background: var(--border-light);
}

#about{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
}

#about-description{
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    align-self: stretch;
}

#people{
    margin-bottom: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-self: stretch;
}

.flex-people{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.flex-people div img{
    width: 100%;
    cursor: pointer;
    transition: 1s; 
    transform: scale(1.1);
}

.flex-people div{
    border-radius: 20px;
    overflow: hidden;     
}

.flex-people div:hover img{
    transform: scale(1.03);
}

#mobile-app{
    display: flex;
    max-width: 1360px;
    max-height: auto;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex: 1 0 0;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.offer-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
    max-width: 630px;
}

.offer-header{
    align-self: stretch;
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.offer-description{
    align-self: stretch;
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.download-mobile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.appstore{
    width: 200px;
    height: 64px;
    cursor: pointer;
    background: url(./src/button-app-store.svg) ;
    transition: 1s ease;
}

.appstore:hover {
    background: url(./src/appstore-hover.svg);
}

.google-play{
    width: 200px;
    height: 64px;
    cursor: pointer;
    background: url(./src/button-google-play.svg) ;
    transition: 1s ease;  
}

.google-play:hover{
    background: url(./src/googleplay-hover.svg);
}

.mobile-screen{
    max-width: 630px;
}

footer{
    background-color: var(--background-container);
    border-radius: 40px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.offer-footer{
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}
.offer-footer-desc{
    color: var(--text-light);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
}

.social{
    display: flex;
    gap:12px;
    flex-wrap: wrap;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-header{
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

.info{
    color: var(--text-light);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.address{
    max-width: max-content;
}
.address:hover .underline{
    width: 100%;
    opacity: 1;
    background-color: var(--text-light);
}

.map{
    max-width: max-content;
}

.map:hover .underline{
    width: 100%;
    opacity: 1;
    background-color: var(--text-light);
}

.social svg path{
    transition: 1s ease;
}

.social svg rect{
    transition: 1s ease;
}

.social svg:hover path{
    stroke: var(--text-dark);
    
}

.social svg:hover rect{
    stroke: var(--text-light);
    fill: var(--text-light);
}

.contact-info a{
    text-decoration: none;
}







