@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --background-body: #E1D4C9;
    --text-accent: #B0907A;
    --text-light: #E1D4C9;
    --text-dark: #403F3D;
    --border-dark: #665F55;
    --border-light: #C1B6AD;
    --background-container: #665F55;
}

*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    max-width: 1440px;
    
    background-color: var(--background-body);
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

main{
    margin-top: 20px;
    max-width: 1360px;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

nav{
    height: 60px;
    gap:40px;
    display: flex;
    align-items: center;
}

.menu-item{
    align-self: center;
    text-decoration: none;
    color: #403F3D;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    height: 24px;
}

.underline{
    margin-top: 2px;
    width: 0%;
    height: 2px;
    margin: 0  auto;
    border-radius: 2px;
    background-color: #403F3D;
    transition: 1s ease;
    opacity: 0;
}

.menu-item:hover .underline{
    width: 100%;
    opacity: 1;
}

.menu-special-item{
    display: flex;
    row-gap: 0px;
    column-gap: 0px;
    flex-wrap: wrap;
    align-items: center;
}

.pon{
    margin-right: 8px;
}

.button-burger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-dark);
    border-radius: 100px ;
    display: none;
    align-self: center;
}

.button-burger-line{
    transition: transform 0.25s;
}

.active-burger-button .button-burger-line:nth-of-type(1) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-10%, 150%);
}

.active-burger-button .button-burger-line:nth-of-type(2) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-10%, -150%);
}


.burger-menu{
    display: flex;
    overflow: hidden;
    padding: 60px 40px;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-body);
    flex-direction: column;
    width: 100%;
    gap: 100px;
    z-index: 99;
    height: auto;
    transform: translateX(100%);
    transition: transform 0.2s;
}

.showMenu {
    transform: translateX(0);
}

.burger-menu nav{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.burger-menu .menu-item{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Action/burger-link */
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}


.enjoy-coffee{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    padding: 100px;
    background: url(./src/c8eddb5caed23bba7b8523eb9aea9192.png) center / cover no-repeat;
    border-radius: 40px;
    height: auto;
    margin-bottom: 100px;
    gap: 40px;
}


.offer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 530px;
}

.enjoy{
    color: var(--text-accent);
    font-style: italic;
}

#enjoy-offer{
    color: var(--text-light);
    font-family: Inter;
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    margin: 0px;
    width: 100%;
}

p{
    margin: 0px;
}

#offer-description{
    width: 100%;
    margin: 0px 0px;
    padding: 0;
    align-self: stretch;
    color: var(--text-light);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    line-height: 150%;
}

#menu-button{
    display: flex;
    max-width: 200px;
    padding: 20px 78px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--background-body);
    color: var(--text-dark);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    cursor: pointer;
    transition: 1s ease;
    text-decoration: none;
}

#menu-button svg{
    opacity: 0;
    width: 0px;
    transition: 1s ease;
}

#menu-button:hover {
    padding-left: 60px;
    padding-right: 60px;
}

#menu-button:hover svg{
    opacity: 1;
    width: 20px;
}


#favorite-coffee{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    gap:40px;
}

#favorite-description{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: 40px;
}

#slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#left-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#product-slider{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-coffee{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.product-coffee:after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .5s linear;
    background-image: url(./src/57d082ae9774ffeb8a409a788e05fef3.png);
}

.description-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    max-width: 480px;
}

.product-name{
    color: var(--text-dark);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.product-description{
    color: var(--text-dark, #403F3D);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.product-price{
    color: var(--text-dark);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

#right-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.arrow{
    transition: 1s ease;
}

.arrow:hover > rect {
    fill: var(--background-container);
}

.arrow:hover > path {
    stroke: var(--text-light);
}

#controls{
    display: flex;
    gap: 12px;
    margin: 0 auto;
    justify-content: center;
}

.control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: var(--border-dark);
}

.nonactive{
    background: var(--border-light);
}

#about{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

#about-description{
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    margin: 0;
}

#people-gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1360/1060;
    gap: 3%;
    padding: 0px;
    margin: 0px;
    border: none;
}

.people-gallery-item{
    width: 48.5%;
    position: relative;
    border-radius: 20px;
    transition: background-size .3s linear;
    overflow: hidden;
}

.people-gallery-item:nth-child(1), .people-gallery-item:nth-child(4){
    aspect-ratio: 660/590;
}

.people-gallery-item:nth-child(2), .people-gallery-item:nth-child(3) {
    aspect-ratio: 660/430;
}

.people-gallery-item:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    transform: scale(1.1);
    transition: transform .3s linear;
}

.people-gallery-item:hover:after{
    transform:scale(1)
}

.item1:after{
    background-image: url(src/about-1.png);
}

.item2:after{
    background-image: url(src/about-2.png);
}

.item3:after{
    background-image: url(src/about-3.png);
}

.item4:after{
    background-image: url(src/about-4.png);
}


#mobile-app{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 100px;
    flex-wrap: nowrap;
}

.offer-mobile{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.offer-header{
    align-self: stretch;
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0px;
}

.offer-description{
    align-self: stretch;
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.download-mobile{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.appstore{
    width: 200px;
    height: 64px;
    cursor: pointer;
    background: url(./src/button-app-store.svg);
    transition: 1s ease;
}

.appstore:hover {
    background: url(./src/appstore-hover.svg);
}

.google-play{
    width: 200px;
    height: 64px;
    cursor: pointer;
    background: url(./src/button-google-play.svg) ;
    transition: 1s ease;  
}

.google-play:hover{
    background: url(./src/googleplay-hover.svg);
}

.mobile-screen{
    width: 630px;
    height: 630px;
    aspect-ratio: 1;
    background: url(./src/mobile-screens.png) center no-repeat;
}


footer{
    background-color: var(--background-container);
    border-radius: 40px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 100%;
}

.offer-footer{
    width: 100%;
    max-width: 530px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}
.offer-footer-desc{
    color: var(--text-light);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
}

.social{
    display: flex;
    gap:12px;
    flex-wrap: wrap;
}

.contact{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contact-header{
    color: var(--text-light, #E1D4C9);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

.info{
    color: var(--text-light);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Action/link & button */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.address{
    max-width: max-content;
}

.address:hover .underline{
    width: 100%;
    opacity: 1;
    background-color: var(--text-light);
}

.map{
    max-width: max-content;
}

.map:hover .underline{
    width: 100%;
    opacity: 1;
    background-color: var(--text-light);
}

.social svg path{
    transition: 1s ease;
}

.social svg rect{
    transition: 1s ease;
}

.social svg:hover path{
    stroke: var(--text-dark);
    
}

.social svg:hover rect{
    stroke: var(--text-light);
    fill: var(--text-light);
}

.contact-info a{
    text-decoration: none;
}

@media (max-width: 1080px){
    #mobile-app{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .offer-mobile{
        width: 100%;
    }

    .mobile-screen{
        align-self: center;
    }
}

@media (max-width: 642px){
    .mobile-screen{
       background-size: 400px 400px;
       width: 400px;
       height: 400px;
    }
}


@media (max-width: 450px){
    h1{
        font-size: 40px;
    }

    h2{
        font-size: 40px;
    }
}

#container-menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
}

#menu-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

#text-menu{
    color: var(--text-dark);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    height: auto;
    max-width: 800px;
    /* Desktop/Heading/heading-2 */
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 75px */
    margin: 0px;
}

#tabs-menu{
    display: flex;
    gap:16px;
}

.tab{
    display: flex;
    padding: 8px 16px 8px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--border-light); 
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.tab span{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 3px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: var(--border-light);
}

.active{
    color: var(--text-light);
    background: var(--border-dark);
}

.active span{
    background: var(--background-body);
}

#grid-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-width: 310px;
    max-width: 310px;
    border: 1px solid var(--border-light);
    border-radius: 40px;
}

.item-photo{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 40px;
}

.item-photo img{
    transition: .5s ease;
    transform: scale(1.1);
}

.grid-item:hover .item-photo img{
    transform: scale(1);
}

.item-desc{
    padding: 20px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    gap: 12px;
}

.title{
    align-self: stretch;
    color: var(--text-dark);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

.opisanie{
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.price{
    align-self: stretch;
    color: var(--text-dark, #403F3D);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Desktop/Heading/heading-3 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 30px */
}

main{
    margin-bottom: 100px;
}

.underlineActive{
    margin-top: 2px;
    width: 200%;
    height: 2px;
    margin: 0  auto;
    border-radius: 2px;
    background-color: #403F3D;
    transition: 1s ease;
}

@media (max-width: 768px) {
    .menu-item{ 
        display: none;
    }

    .menu-special-item:hover .underline{
        width: 0;
    }

    .menu-special-item svg{
        width: 40px;
        height: 40px;
    }

    .button-burger{
        display: flex;
    }

    .enjoy-coffee{
        padding: 100px 60px;
    }

    #menu-button{
        padding-left: 60px;
        padding-right: 60px;
    }
    
    #menu-button svg{
        opacity: 1;
        width: 20px;
    }

    .arrow:hover > rect {
        fill: var(--text-light);
    }
    
    .arrow:hover > path {
        stroke: var(--text-dark);
    }

    #people-gallery{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:40px;
    }

    .item2{
        display: none;
    }

    .item3{
        display: none;
    }

    .people-gallery-item:nth-child(1), .people-gallery-item:nth-child(4){
        height: 590px;
        width: auto;
    }

    .people-gallery-item:hover:after{
        transform:scale(1.1);
    }

    .mobile-screen{
        max-width: 630px;
        max-height: 630px;
    }

    footer{
        flex-wrap: wrap;
        padding: 100px 60px;
        flex-direction: column;
        gap: 100px;
    }

    .grid-item:hover .item-photo img{
        transform: scale(1.1);
    }

    .hidden-item{
        display: none;
    }

    .update{
        width: 60px;
        height: 60px;
        align-self: center;
        background: url(./src/button-icon-refresh.svg) no-repeat;
    }

    .social svg path{
        transition: none;
    }
    
    .social svg rect{
        transition: none;
    }
    
    .social svg:hover path{
        stroke: var(--text-light);
        
    }
    
    .social svg:hover rect{
        stroke: var(--text-light);
        fill: var(--border-dark);
    }

    .map:hover .underline{
        width: 0%;
        opacity: 0;
        background-color: var(--text-light);
    }

    .address:hover .underline{
        width: 0%;
        opacity: 0;
        background-color: var(--text-light);
    }

    .download-mobile{
        box-sizing: content-box;
    }

    .appstore:hover {
        background: url(./src/button-app-store.svg);
    }
    
    .google-play:hover{
        background: url(./src/button-google-play.svg);
    }

    .burger-menu nav .menu-item{
        display: flex;
    }

    .burger-menu .menu-special-item{
        display: flex;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .enjoy-coffee{
        padding: 60px 16px;
    }

    .enjoy-coffee h1{
        font-size: 42px !important;
    }

    #favorite-description{
        font-size: 32px;
    }

    #left-arrow{
        display: none;
    }

    #right-arrow{
        display: none;
    }

    #about-description{
        font-size: 32px;
    }

    .offer-header{
        font-size:32px;
    }

    #mobile-app{
        gap:40px;
    }

    .mobile-screen{
        width: 348px;
        height: 348px;
        background-size: 348px 348px;
    }
    
    footer{
        padding: 60px 16px;
        gap:40px;
    }

    .offer-footer-desc{
        font-size: 32px;
    }

    .download-mobile{
        flex-direction: column;
        gap: 20px;
    }

    .download-mobile a{
        width: fit-content;
    }

    #text-menu{
        font-size: 32px;
    }

    #tabs-menu{
        gap: 8px;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    #tab span{
        width:15px;
        height: 24px;
    }

    .item-photo img{
        width: 100%;
    }

    .burger-menu{
        padding: 60px 16px;
    }
}

