* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 20px 40px;
}

.hangman-head {
  position: absolute;
  top: 170px;
  left: 300px;
}

.hangman-body {
  position: absolute;
  top: 270px;
  left: 350px;
}

.hangman-arm-left {
  position: absolute;
  top: 270px;
  left: 285px;
}

.hangman-arm-right {
  position: absolute;
  top: 270px;
  left: 350px;
}

.hangman-leg-left {
  position: absolute;
  top: 400px;
  left: 285px;
}

.hangman-leg-right {
  position: absolute;
  top: 400px;
  left: 350px;
}

.hangman-guess {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.hangman-guess__tabs {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.tab {
  width: 40px;
  height: 2px;
  background-color: black;
  align-self: flex-end;
}

.text {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.keyboard__letter {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: rgb(23, 89, 165);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.modal-wrapper {
  display: none;
  position: relative;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.2);
  z-index: 2;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  border-radius: 1rem;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.modal__button-again {
  min-width: 100px;
  min-height: 50px;
  background-color: rgb(23, 89, 165);
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.modal__button-again:hover {
  background-color: rgb(14, 55, 102);
}

.hidden {
  display: none;
}

@media (max-width: 540px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .gallows {
    width: 300px;
    height: 300px;
  }

  .hangman-guess {
    padding: 10px 5px;
  }

  .keyboard {
    gap: 5px;
    align-items: center;
  }

  .keyboard__row {
    gap: 5px;
  }

  .keyboard__letter {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }

  .hangman__game-proccess {
    text-align: center;
  }
}

@media (min-width: 540px) and (max-width: 960px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .hangman__game-proccess {
    text-align: center;
  }

  .gallows {
    width: 350px;
    height: 350px;
  }
}

.tabs__word {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
