@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --background-body: #E1D4C9;
}

*{
    box-sizing: border-box;
}

body{
    width: 1440px;
    background-color: var(--background-body);
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

header{
    width: 1440px;
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
}
nav{
    width: 1188px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item{
    align-self: center;
    margin-right: 40px;
    text-decoration: none;
    color: #403F3D;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    height: 24px;
}

.menu-item:hover .underline{
   animation-name: underline;
   animation-duration: 1s;
   animation-fill-mode: forwards;
}


@keyframes underline {
    from{
        width: 0%;
        opacity: 0;
    } 
    to {
        width: 100%;
        opacity: 1;
    }
}


.menu-special-item{
    display: grid;
    grid-template-columns: 36px 36px;
    height: 24px;
    margin-right: 0px;
}

.menu-special-item svg{
    justify-self: end;
}

.menu-special-item .underline{
    grid-column-start: 1;
    grid-column-end: 3;

}

.underline{
    margin-top: 2px;
    width: 0%;
    height: 2px;
    margin: 0  auto;
    border-radius: 2px;
    background-color: #403F3D;
}





